* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: rgb(181, 92, 92);
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.calculator {
    background-color: rgb(98, 92, 92);
    box-shadow: 0px 0px 5px 10px black;
    min-width: 320px;
    border-radius: 5px;
    padding: 20px;

}


.screen {
    background-color: rgb(205, 207, 165);
    width: 100%;
    text-align: right;
    padding: 1em;
    border-radius: 5px;
}


#screen-number1 {
    font-size: 30px;
}
#screen-number2 {
    font-size: 40px;
}


.buttons {
    margin-top: 30px;
    min-height: 300px;
    margin: 0 auto;
}

.btnRow {
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    min-width: 22%;
    border-width: 5px;
    border-radius: 5px;
    background-color: rgb(226, 210, 210);
    cursor: pointer;
}

.double {
    min-width: 48%;
}

.btn:active {
    background-color: rgb(186, 172, 172);
}

.equal {
    background-color: green;
    color: white;
}

.c {
    color: brown;
}

@media screen and (max-width: 500px) {
}
